// colors
$dark-grey: #212121;
$light-grey: rgba(157, 157, 157, 0.876);
$whity: whitesmoke;
//

// font styles
$font-one: 'Jost',sans-serif;
$font-two:'Poppins',sans-serif;
//

// font sizes
$size-h1: 7rem;
$size-h2: 2rem;
$size-h3: 1.7rem;
$size-h4: 1.1rem;
$size-p: 1rem;
//